@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e6ebf2;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 785px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 255px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 4px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 255px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 4px;
  background: #f7f6f7;
  padding: 0;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.placeholder--planned .item {
  border-top: 3px solid #fc86e5;
}

.placeholder--in-development .item {
  border-top: 3px solid #41bbe9;
}

.placeholder--done .item {
  border-top: 3px solid #8ae6d4;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 255px;min-height: 187px;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #8fd3f4, #84fab0 100%);
}

.hold {
  border: 1px dashed #969696;
}

.hide {
  display: none;
}

.hovered {
  border-radius: 4px;
  background-color: rgb(255 255 255 / 50%);
  border: 1px dashed #969696;
}